$border: 1px solid #444;
$padding: 10px;
$font: 10pt Consolas, monospace;
$navbar-height: 28px;

@import "navbar.scss";

body {
	background: black;
	color: white;
}

#container {
	position: absolute;
	left: 0px;
	top: $navbar-height;
	width: 100%;
	height: calc(100% - #{$navbar-height});
	font: $font;

	.hsplitter, .vsplitter {
		background: #444;
	}
}

@import "memory.scss";
@import "registers.scss";
@import "console.scss";

tr {
	background: #131313;
	&:nth-child(even) {
		background: #1d1d1d;
	}
}