$border: 1px solid #444;
$padding: 10px;
$font: 10pt Consolas, monospace;
$navbar-height: 28px;

@import "navbar.scss";

body {
	background: black;
	color: white;
}

#container {
	position: absolute;
	left: 0px;
	top: $navbar-height;
	width: 100%;
	height: calc(100% - #{$navbar-height});
	font: $font;

	.hsplitter, .vsplitter {
		background: #444;
	}
}

@import "memory.scss";
@import "registers.scss";
@import "console.scss";

tr {
	background: #131313;
	&:nth-child(even) {
		background: #1d1d1d;
	}
}

body.light {
	background: white;
	color: black;

	tr {
		background: #eee;
		// background: #f7f7f7;
		&:nth-child(even) {
			background: white;
		}
	}

	#container {
		.hsplitter, .vsplitter {
			background: #aaa;
		}
	}

	#memory_container #memory {
		tr.program-counter {
			background: #ccc;
		}

		tr.stack-pointer {
			background: #bbb;
		}

		tr.dashed, tr.solid {
			border-top-color: #aaa;
		}
	}

	#registers td:last-child {
		color: black;
	}

	.has-title {
		text-decoration-color: black;
	}

	@include register(tx, #eeda00);
}

.hash {
	color: gray;
}

.has-title {
	text-decoration: underline dotted rgba(255, 255, 255, 0.33);
	cursor: default;
}

#format {
	cursor: default;

	span {
		cursor: pointer;
		color: rgba(150, 150, 255, 1.0);
	}
}
