#top {
	height: 100% !important;
}

#console {
	overflow: auto;
	display: none;
	z-index: 901;
	
	position: fixed;
	top: 50px;
	right: 50px;
	bottom: 50px;
	left: 50px;
	padding: 5px;

	box-shadow: 0px 0px 10px green;
	border: none;
	
	background: black;
	color: green;
}
