#memory_container {
	overflow: auto;

	#memory {
		margin: 0;
		padding: 0px;
		padding-top: 10px;
		max-height: 100%;
		width: 100%;

		td:first-child {
			text-align: right;
			color: #666;
		}

		td {
			padding: 3px 10px;
		}

		td:last-child {
			width: 100%;
		}

		tr.program-counter {
			background: #444;

			td:first-child {
				color: white;
			}
		}

		td:nth-child(2):before {
			content: "0x";
			color: #999;
			padding-right: 5px;
		}

		.digit-group {
			padding: 0 1px;
		}

		.dim {
			color: #999;
		}

		.handler {
			color: purple;
		}
	}
}
