#memory_container {
	overflow: auto;

	#memory {
		margin: 0;
		padding: 0px;
		padding-top: 10px;
		max-height: 100%;
		width: 100%;

		td:first-child {
			text-align: right;
			color: #666;
		}

		td {
			padding: 3px 10px;
		}

		td:nth-child(3) {
			width: 100%;
		}

		tr.program-counter {
			background: #444;
		}

		tr.stack-pointer {
			background: #2a2a2a;
		}

		tr.program-counter, tr.stack-pointer {
			td:first-child {
				color: white;
			}
		}

		tr.dashed {
			border-top-style: dashed;
		}
		
		tr.solid {
			border-top-style: solid;
		}

		tr.dashed, tr.solid {
			border-top-width: 1px;
			border-top-color: #555;

			> td, > th {
				padding-top: 2.5px;
			}
		}

		td:nth-child(2):before {
			content: "0x";
			color: #999;
			padding-right: 5px;
		}

		.digit-group {
			padding: 0 1px;
		}

		.dim {
			color: #999;
		}

		.handler {
			color: purple;
		}
	}
}
