@mixin register($class, $color) {
	.reg-#{$class} {
		color: $color;
	}

	tr.reg-#{$class} td:first-child {
		color: $color !important;
	}
}

#registers {
	border-collapse: collapse;
	overflow: auto;
	width: 100%;

	td, th {
		padding-left: 10px;
		padding-right: 10px;
	}

	td:last-child {
		width: 100%;
		color: white !important;

		&:before {
			color: #999;
			padding-right: 2px;
		}
	}

	&.base-2 td:last-child:before {
		content: "0b";
	}

	&.base-8 td:last-child:before {
		content: "#{"\a0"}0";
	}

	&.base-10 td:last-child:before {
		content: "\a0\a0";
	}

	&.base-16 td:last-child:before {
		content: "0x";
	}

	td:first-child {
		color: white;
		cursor: pointer;
	}

	tr.reg-0 {
		td:first-child {
			text-shadow: 0px 0px 1px rgba(255, 255, 255, 1);
		}
	}

	tr.reg-g, tr.reg-fp, tr.reg-fx, tr.reg-ex, tr.reg-kx {
		td:first-child {
			color: #777;
			text-decoration: line-through;
		}
	}

	tr.active-register {
		background: rgba(0, 255, 0, 0.3);
	}
}

@include register(0, #000);
@include register(g, #777);
@include register(fp, #777);
@include register(sp, #a00);
@include register(rt, #0a0);
@include register(lo, #a60);
@include register(hi, #a60);
@include register(rx, #f00);
@include register(ax, #ffa000);
@include register(tx, #fffa00);
@include register(sx, #080);
@include register(kx, #08f);
@include register(mx, #a0f);
