/**/node_modules
/wasm/what*
/wasm/wasm.js
/wasm/wasm_parser.js
/**/*.why
/exclude
/**/npm-debug.log
/**/*.map
/wvm/dist/*
/wasm/compiled/*
/doc
/llvm/llvm.js
/**/*.o
/wvm/c/wvm
/.vscode
/yarn-error.log
!/wvm/dist/index.html
/llvm/llvm2why/tmp
